.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.darkBackground {
  background-image: url("/public/images/background-dark.jpg");
}

.lightBackground {
  background-image: url("/public/images/background-light.jpg");
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 0 1rem;
}

.title {
  text-align: center;
}

.textContent {
  text-align: center;
}
