.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
}

.title {
  text-align: center;
}

.textContent {
  text-align: center;
}
